.w3-black,.w3-hover-black:hover{color:#fff;background-color:#000;}

.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.w3-display-middle{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}

/*3 img  */
.bgimg-3 {
  background-image: url(../img/contato.jpg);
  min-height: 400px;
}	

.w3-opacity-min{opacity:0.75}
.w3-display-container{position:relative}

.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{
	color:#fff;
	background-color:#616161;
}

.w3-xxlarge{font-size:36px;}

