<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset='utf-8'>
  <title>Portifolio</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/static/css/bootstrap.css'>
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="/static/css/ac.css" rel="stylesheet" type="text/css" media="screen" />
  <script src="/static/js/high-contrast.js" type="text/javascript"></script>
  <script src="/static/js/fonte.js" type="text/javascript"></script>
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Portifolio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Acessibilidade
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" onClick="fonte('a');">Aumentar Letras</a>
              <a class="dropdown-item" onClick="fonte('d');">Diminuir Letras</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#altocontraste" id="altocontraste" accesskey="3"
                onclick="window.toggleContrast()" onkeydown="window.toggleContrast()">Contraste</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main role="main">
    <article>
      <section class="bgimg-3 w3-display-container w3-opacity-min" id="portfolio">
        <div class="w3-display-middle">
          <span class="w3-xxlarge w3-black w3-wide">PORTFOLIO DEMO</span>
        </div>
      </section>
      <!--Portfolio Section) -->
    </article>
    <div class="container marketing">

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Design corporativo. <span class="text-muted">Indispensavel para sua
              empresa.</span></h2>
          <p class="lead">...</p>
        </div>
        <div class="row-sm-2 col-md-5">
          <a href="https://www.w3schools.com/w3css/tryw3css_templates_architect.htm" target=”_blank”><img
              src="img/projetoArch.png" class="w-100" alt="Responsive image"></a>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Seu proprio blog. <span class="text-muted">Promova sua marca.</span></h2>
          <p class="lead">...</p>
        </div>
        <div class="col-md-5 order-md-1">
          <a href="https://www.w3schools.com/w3css/tryw3css_templates_portfolio.htm" target=”_blank”><img
              src="img/projetoFoto.png" class="w-100" alt="Responsive image"></a>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ecommerce. <span class="text-muted">Venda seus produtos.</span></h2>
          <p class="lead">...</p>
        </div>
        <div class="col-md-5">
          <a href="https://www.w3schools.com/w3css/tryw3css_templates_clothing_store.htm" target=”_blank”><img
              src="img/projetoLoja.png" class="w-100" alt="Responsive image"></a>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <footer class="container">
      <p class="float-right"><a href="#">Inicio</a></p>
      <p>&copy; Marco A S Azevedo - 2020.</p>
    </footer>
  </main>
  <script src="/static/js/jquery-3.4.1.js"></script>
  <script src='/static/js/bootstrap.js'></script>
</body>

</html>